.formCont{

    padding: 30px;
    display: flex;
    justify-content: center;
}

.formCont2{

    display: block;
    border: 1px solid rgb(255, 255, 255);

    background-color: rgba(201, 156, 9, 0.255); 

    height: 100%;
    width: 50%;
}

.dietas{

    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 10px;
    
    color: white;
    /* font-size: larger; */
    font-weight: bolder;
    font-style: italic;
}

.dietLabel{

    display: flex;
    padding-left: 10%;
    grid-column-start: 1;
    grid-column-end: 4;
}

.dietLabel2{

    display: flex;
    padding-left: 30%;
}

.dietError{

    grid-column-start: 1;
    grid-column-end: 4;
    color: red;

    font-size: large;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.43);
}

/*--------------------------------------*/

.pasos{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-bottom: 10px;
}

.pasos button{

    border: 1px solid rgb(255, 255, 255);

    background-color: rgb(33, 31, 31);
    color: white;
    font-size: medium;
    /* font-weight: bolder; */
    font-style: italic; 
}

.pasos button:hover{

    background-color: white;
    color: rgb(33, 31, 31);
    border: 1px solid rgb(10, 10, 10);
}


.pasosLabel{
    display: flex;
    justify-content: flex-start;
    padding-left:10% ;

    padding-bottom: 5px;

    color: white;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}

.pasosLabel2{
    display: flex;
    justify-content: flex-start;
    padding-left: 55px;
 
    left: 0;

}

.pasosLabel3{

    color: rgb(255, 255, 255);
    /* max-width: 500px; */
    width: 500px;
    left: 15px;

    height: 20px;

    background-color: rgb(33, 31, 31);
}


/*---------------------------------------*/

.sum{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 55px;

    padding-bottom: 10px;
}

.sumLabel{

    display: flex;
    justify-content: flex-start;
    padding-left:10px ;

    padding-bottom: 5px;

    color: white;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
   
}

.sumLabel2{

    display: flex;
    justify-content: flex-start;
    
    height: auto;
    
    width: 500px;

    left: 15px;

    height: 20px;

    background-color: rgb(33, 31, 31);
    color: white;
}

/*--------------------------------------------*/

.nivel{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 55px;

    padding-bottom: 10px;
}


.nivelLabel{

    display: flex;
    justify-content: flex-start;
    padding-left:10px ;

    padding-bottom: 5px;

    color: white;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}

.nivelLabel2{

    display: flex;
    justify-content: flex-start;
    
    height: auto;

    width: 500px;

    left: 15px;

    height: 20px;

    background-color: rgb(33, 31, 31);
    color: white;
}

.nivelLabel2Error input{

    display: flex;
    justify-content: flex-start;

    width: 500px;

    left: 15px;

    height: 20px;

    background-color: rgb(145, 58, 58);
    color: white;
}

.nivelLabel2Error span{

    color: rgb(75, 21, 21);

    font-size: 20px;
    font-weight: bolder;
    font-style: italic;

    /* -webkit-text-stroke: 1px rgba(0, 0, 0, 0.645); */

}

/*------------------------------------------------*/

.imagen{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 55px;

    padding-bottom: 10px;
}

.imagenLabel{

    display: flex;
    justify-content: flex-start;
    padding-left:10px ;

    padding-bottom: 5px;

    color: white;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}

.imagenLabel2{

    display: flex;
    justify-content: flex-start;
    
    height: auto;
    
    width: 500px;

    left: 15px;

    height: 20px;

    background-color: rgb(33, 31, 31);
    color: white;
}

.imagenLabel2Error input{

    display: flex;
    justify-content: flex-start;

    width: 500px;

    left: 15px;

    height: 20px;

    background-color: rgb(145, 58, 58);
    color: white;
}

.imagenLabel2Error span{

    color: rgb(75, 21, 21);

    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
}

/*---------------------------------------------*/

.nombre{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 55px;

    padding-bottom: 10px;
}

.nombreLabel{

    display: flex;
    justify-content: flex-start;
    padding-left:10px ;
    padding-bottom: 5px;

    color: white;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}

.nombreLabel2{

    display: flex;
    justify-content: flex-start;

    width: 500px;

    left: 15px;

    height: 20px;

    background-color: rgb(33, 31, 31);
    color: white;
}

.nombreLabel2Error input{

    display: flex;
    justify-content: flex-start;

    width: 500px;

    left: 15px;

    height: 20px;

    background-color: rgb(145, 58, 58);
    color: white;

}

.nombreLabel2Error span{

    color: rgb(75, 21, 21);

    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
}



/*----------------------------------------*/

.btnFormulario{

    padding: 5px;

}

.btnFormulario button{

    width:  140px;
    height: 35px;

    border: 1px solid rgb(255, 255, 255);

    background-color: rgb(33, 31, 31);
    color: white;
    font-size: larger;
    font-weight: bolder;
    font-style: italic; 
}

.btnFormulario button:hover{

    background-color: white;
    color: rgb(33, 31, 31);
    border: 2px solid rgb(10, 10, 10);
}


/*----------------------------*/

.formCont2 h3{

    color: white;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;

    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.43);
}