

.pagination{
    padding-top: 5px;
    background-image: url("../Home/img/wood.jpg");
    background-size: cover;
}


.pagination button{

    background-color: rgb(33, 31, 31);
    color: white;
    height: 25px;
}

.pagination button:hover{

    background-color: white;
    color: rgb(33, 31, 31);
    height: 25px;
}

.pagination button:focus{

    background-color: white;
    color: rgb(33, 31, 31);
    height: 25px;
}